<br />
<div class="nav justify-content-center"><h1><%= t('common.all_cards') %></h1></div>
<br />

<div class="container">
  <div class="row">

    <% @cards.each_with_index do |card, index| %>
      <div class="col-sm-4">
        <ul class="col-md-12 badge badge-pill badge-info card ">

          <div class="blockquote text-center">
            <h2><%= card.original_text %></h2>
          </div>

          <div class="blockquote text-center">
            <%= card.translated_text %>
          </div>

          <div class="blockquote text-center">
            <h6><%= card.updated_at.to_date.strftime("%d/%m/%Y") %></h6>
          </div>

        </ul>
      </div>
    <% end %>

  </div>
</div>
